In [5]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import requests
import os
from scipy.stats import linregress

In [6]:
# File to Load
suicides_data = Path("Resources/suicides_data.csv")

Suicides_data = pd.read_csv(suicides_data)
Suicides_data.head()
#http://localhost:8888/edit/Desktop/Project%203/Project-3/Resources/suicides_data.csv
# question 1

,country,year,age,data_id,sex,suicides_no,population,suicides/100k pop,generation,gdp_for_year,gdp_per_capita
0,Albania,1987,15-24 years,1,male,21,312900,6.71,Generation X,"2,15,66,24,900",796.0
1,Albania,1987,25-34 years,5,male,9,274300,3.28,Boomers,"2,15,66,24,900",796.0
2,Albania,1987,35-54 years,2,male,16,308000,5.19,Silent,"2,15,66,24,900",796.0
3,Albania,1987,55-74 years,9,male,1,137500,0.73,G.I. Generation,"2,15,66,24,900",796.0
4,Albania,1987,75+ years,4,male,1,21800,4.59,G.I. Generation,"2,15,66,24,900",796.0

In [7]:
Suicides_data.dtypes

country               object
year                   int64
age                   object
data_id                int64
sex                   object
suicides_no            int64
population             int64
suicides/100k pop    float64
generation            object
gdp_for_year          object
gdp_per_capita       float64
dtype: object

In [8]:
Sorted_Df=Suicides_data[['country', 'year', 'suicides/100k pop','gdp_per_capita']]

Sorted_Df.head()

   country  year  suicides/100k pop  gdp_per_capita
0  Albania  1987               6.71           796.0
1  Albania  1987               3.28           796.0
2  Albania  1987               5.19           796.0
3  Albania  1987               0.73           796.0
4  Albania  1987               4.59           796.0

In [9]:
# Group by 'country' and 'year', summing the suicide numbers and calculating the average GDP per capita
grouped_data = Sorted_Df.groupby(['country', 'year']).agg({
    'suicides/100k pop': 'sum',
    'gdp_per_capita': 'mean'
}).reset_index()

# Rename columns for clarity
grouped_data = grouped_data.rename(columns={'suicides/100k pop': 'suicides/100k pop', 'gdp_per_capita': 'gdp_per_capita'})

# Display the resulting DataFrame
grouped_data.head()

   country  year  suicides/100k pop  gdp_per_capita
0  Albania  1987              20.50           796.0
1  Albania  1988              16.99           769.0
2  Albania  1989              14.41           833.0
3  Albania  1992              12.88           251.0
4  Albania  1993              22.82           437.0

In [10]:
# Save the sorted DataFrame to a CSV file
grouped_data.to_csv('grouped_data.csv', index=False)

In [11]:
# Assuming grouped_data is the DataFrame obtained from the previous grouping operation
grouped_data = pd.read_csv('grouped_data.csv')

# Load latitude and longitude data
lat_lon_data = pd.read_csv('Resources/world_country_latitude_and_longitude.csv')

# Merge the grouped data with latitude and longitude data based on 'country'
merged_data = pd.merge(grouped_data, lat_lon_data, on='country', how='left')

# Display the resulting DataFrame
merged_data.head()

,country,year,suicides/100k pop,gdp_per_capita,country_code,latitude,longitude
0,Albania,1987,20.50,796.0,AL,41.153332,20.168331
1,Albania,1988,16.99,769.0,AL,41.153332,20.168331
2,Albania,1989,14.41,833.0,AL,41.153332,20.168331
3,Albania,1992,12.88,251.0,AL,41.153332,20.168331
4,Albania,1993,22.82,437.0,AL,41.153332,20.168331

In [12]:
# Save the sorted DataFrame to a CSV file
merged_data.to_csv('merged_data.csv', index=False)

In [5]:
# Create separate DataFrames for males and females
male_df = Sorted_Df[Sorted_Df['sex'] == 'male']


# Display the separate DataFrames
print("Male DataFrame:")
male_df.head()

Male DataFrame:

   country  year          age   sex  suicides/100k pop
0  Albania  1987  15-24 years  male               6.71
1  Albania  1987  25-34 years  male               3.28
2  Albania  1987  35-54 years  male               5.19
3  Albania  1987  55-74 years  male               0.73
4  Albania  1987    75+ years  male               4.59

In [6]:
female_df = Sorted_Df[Sorted_Df['sex'] == 'female']
print("\nFemale DataFrame:")
female_df.head()

Female DataFrame:

    country  year          age     sex  suicides/100k pop
6   Albania  1988  25-34 years  female               1.91
7   Albania  1988  35-54 years  female               1.41
9   Albania  1988    75+ years  female               5.49
10  Albania  1989  15-24 years  female               1.67
11  Albania  1989  25-34 years  female               0.75

In [7]:
combined_df = Sorted_Df.groupby(['country', 'year', 'age']).agg({'suicides/100k pop': 'sum'}).reset_index()

# Display the combined DataFrame
print("Combined DataFrame:")
combined_df.head()

Combined DataFrame:

   country  year          age  suicides/100k pop
0  Albania  1987  15-24 years               6.71
1  Albania  1987  25-34 years               3.28
2  Albania  1987  35-54 years               5.19
3  Albania  1987  55-74 years               0.73
4  Albania  1987    75+ years               4.59

In [8]:
#1 Df country,year,age,suicide_no - Stacked coloumn chart filtered by year 
#2 Df country,year,sex,Suicide_no -Pie chart Comparison of two chart main filter country and year filter per pie chart

In [9]:
# plot a chart where Country data is a filter with Year on the X axis and Suicide_no being on the y axis with the age breakdown in a stacked Barchart

In [10]:
# File to Load
gdp_data = Path("Resources/gdp_data.csv")

GDP_DATA = pd.read_csv(gdp_data)
GDP_DATA.head()
#http://localhost:8888/edit/Desktop/Project%203/Project-3/Resources/gdp_data.csv
#Join gdp data with country_latitude_and_longitude

FileNotFoundError: [Errno 2] No such file or directory: 'Resources\\gdp_data.csv'

In [ ]:
# File to Load
country_latitude_and_longitude = Path("Resources/world_country_latitude_and_longitude.csv")

Country_latitude_and_longitude = pd.read_csv(country_latitude_and_longitude)
Country_latitude_and_longitude.head()
#http://localhost:8888/edit/Desktop/Project%203/Project-3/Resources/world_country_latitude_and_longitude.csv

In [ ]:
merged_df = pd.merge(Suicides_data, GDP_DATA, on=['data_id', 'country'])
merged_df.head()

In [ ]:
missing_suicides_df = merged_df[merged_df['suicides_no'] == 0]
missing_suicides_df.head()

In [ ]:
filtered_df = merged_df[merged_df['suicides_no'] != 0]
filtered_df.head()

In [ ]:
sorted_df1 = filtered_df.sort_values(by='data_id', ascending=True)
sorted_df1 = filtered_df.sort_values(by='age', ascending=True)


sorted_df1.head()

In [ ]:
sorted_df1 = filtered_df.sort_values(by='year', ascending=True)

In [ ]:
sorted_df1 = filtered_df.sort_values(by='country', ascending=True)

In [ ]:
grouped_df = sorted_df1.groupby(['country','year','age' ]).first().reset_index()
grouped_df.head()

In [ ]:
# Save the sorted DataFrame to a CSV file
grouped_df.to_csv('Suicides_data_grouped.csv', index=False)